html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
}
.content-inside {
    /*padding: 20px;*/
    padding-bottom: 50px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
}

nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}

.navbar-brand {
    font-size: 30px;
}



nav.navbar.shrink {
    min-height: 35px;
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

nav.shrink .navbar-brand {
    font-size: 25px;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

nav.navbar{
-webkit-transition: all 10s ease;
    transition: all 10s ease;
}
/*#carousel-title{*/
    /*font-size: 5em;*/
    /*margin-bottom: 200px;*/
/*}*/
/*img{*/
    /*width: 100%;*/
    /*height: 610px!important;*/
/*}*/




#morand-footer{
    /*background-image: url('../img/map-image.png');*/
    /*margin-top: 600px;*/
    background-color: rgba(249,239,0,0.43);

    background-position: center;
    /*background-repeat: no-repeat;*/
    padding-bottom: 15%;
    /*height: 100%;*/
    /*background-size: auto;*/
    /*z-index: 0;*/
}

.footer {
    height: 50px;
    margin-top: -50px;
}

#myCarousel{
 margin-top: 5%;
}

.carousel-inner > .item > img {
    width:100%;
    height:560px;
}

#my-img-one{
    background: linear-gradient(rgba(0, 0, 0, 0.3), black), url("../img/orlando-1104481_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:460px;
}

#my-img-two{
    background: linear-gradient(rgba(0, 0, 0, 0.3), black), url("../img/orlando-1104481_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:460px;
}

#my-img-three{
    background: linear-gradient(rgba(0, 0, 0, 0.3), black), url("../img/orlando-1104481_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:460px;
}

#my-img-four{
    background: linear-gradient(rgba(0, 0, 0, 0.3), black), url("../img/orlando-1104481_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:460px;
}

#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad;}