html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
}
.content-inside {
    /*padding: 20px;*/
    padding-bottom: 50px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
}

nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}

.navbar-brand {
    font-size: 30px;
}



nav.navbar.shrink {
    min-height: 35px;
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

nav.shrink .navbar-brand {
    font-size: 25px;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

nav.navbar{
-webkit-transition: all 10s ease;
    transition: all 10s ease;
}

item img{
    height: 500px;
    width: 100%;
}

.carousel-inner{
    height: 500px ;
}


    /*#top-banner-picture{*/
    /*background-image: url('../img/bus-887362_1920.jpg');*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*padding-bottom: 50%;*/
    /*!*height: 100%;*!*/
    /*background-size: auto;*/
    /*z-index: 0;*/
/*}*/

#morand-team{
    background-image: url('../img/map-image.png');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 20%;
    /*height: 100%;*/
    background-size: auto;
    z-index: 0;
}

.footer {
    height: 50px;
    margin-top: -50px;
}