<a id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>

<div id="morand-footer">
    <div class="container">
        <div class="row" id="morand-top-footer">
            <div class="col-md-4 col-sm-3 col-xs-4">
                <h1>Logo</h1>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" id="company-links">


                <p><a href="#">careers</a></p>
                <p><a href="#">privacy policy</a></p>
                <p><a href="#">Terms and conditions</a></p>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 ">
                <h2 class="connect">Connect with Us</h2>

                <span class="address"> 524 cresting oak cir
                Orlando Fl, 34743</span>
                <p>+1 407 675 6274</p>

            </div>


        </div>
    </div>

    <div id="morand-bottom-footer">
        <div class="container-fluid">
        <div class="row">
        <div id="bottom-nav-font"  class="bottom-nav" ng-model="currentYear">
            Morand Transportation {{currentYear}}
            <span id="bottom-nav-bar" >
                <a class="bottom-nav" ui-sref="home" id="return-to-to" >Home</a>
                <a class="bottom-nav" ui-sref="about">About</a>
                <a class="bottom-nav" href="#" ng-click="contactModal()">Contact Us</a>

            </span>
        </div>
        </div>
        </div>
    </div>


</div>

